include README.md
include requirements.txt

include src/jupyter_tigervnc_novnc_proxy/vnc.sh
graft src/jupyter_tigervnc_novnc_proxy/novnc
graft src/jupyter_tigervnc_novnc_proxy/extras

global-exclude *.py[cod]
global-exclude __pycache__
